<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DBtuter</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>ContainerTuter</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DBstudent</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>ContainerStudent</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>Task-modul</param-name>
        <param-value>localhost:8084/task-modul</param-value>
    </context-param>
    <context-param>
        <param-name>LogPath</param-name>
        <param-value>/home/ksinn/Log.txt</param-value>
    </context-param>
    <context-param>
        <param-name>SiteName</param-name>
        <param-value>ONLINE EDUCATION SYSTEM</param-value>
    </context-param>
    <context-param>
        <param-name>FileDir</param-name>
        <param-value>uploadFiles/</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sys_conf</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <jsp-file>/Delete.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publishe</servlet-name>
        <servlet-class>Publishe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timer</servlet-name>
        <servlet-class>timer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextTask</servlet-name>
        <servlet-class>NextTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth1</servlet-name>
        <servlet-class>auth1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>work_data</servlet-name>
        <servlet-class>api.work_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_data</servlet-name>
        <servlet-class>api.user_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>work_result</servlet-name>
        <servlet-class>api.work_result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smsgetway</servlet-name>
        <servlet-class>auth.smsgetway</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>auth.SendSMS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/program/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/program/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publishe</servlet-name>
        <url-pattern>/program/Publishe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timer</servlet-name>
        <url-pattern>/timer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextTask</servlet-name>
        <url-pattern>/Pass/NextTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth1</servlet-name>
        <url-pattern>/auth1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>work_data</servlet-name>
        <url-pattern>/api/work_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_data</servlet-name>
        <url-pattern>/api/user_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>work_result</servlet-name>
        <url-pattern>/api/work_result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smsgetway</servlet-name>
        <url-pattern>/smsgetway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/SendSMS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
