<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    <context-param>
        <param-name>LogPath</param-name>
        <param-value>/srv/tomcat8/logs/elearning.txt</param-value>
    </context-param>
    <context-param>
        <param-name>SiteName</param-name>
        <param-value>ONLINE EDUCATION SYSTEM</param-value>
    </context-param>
    <context-param>
        <param-name>FileDir</param-name>
        <param-value>uploadFiles/</param-value>
    </context-param>
    
    
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sys_conf</listener-class>
    </listener>
    
    

    
    <servlet>
        <servlet-name>GoogleOAuth</servlet-name>
        <servlet-class>Controller.user.GoogleOAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Controller.user.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUp2factor</servlet-name>
        <servlet-class>Controller.user.SetUp2factor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.user.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>auth.SendSMS</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>work_data</servlet-name>
        <servlet-class>api.work_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_data</servlet-name>
        <servlet-class>api.user_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>work_result</servlet-name>
        <servlet-class>api.work_result</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>smsgetway</servlet-name>
        <servlet-class>auth.smsgetway</servlet-class>
    </servlet>
    
    
    
    
    <servlet-mapping>
        <servlet-name>work_data</servlet-name>
        <url-pattern>/api/work_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_data</servlet-name>
        <url-pattern>/api/user_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>work_result</servlet-name>
        <url-pattern>/api/work_result</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>smsgetway</servlet-name>
        <url-pattern>/smsgetway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/SendSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/user/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleOAuth</servlet-name>
        <url-pattern>/user/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/user/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUp2factor</servlet-name>
        <url-pattern>/user/SetUp</url-pattern>
    </servlet-mapping>
    
    
    
</web-app>
