<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminsPage</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>themes</servlet-name>
        <servlet-class>themes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handler</servlet-name>
        <servlet-class>handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatePasswords</servlet-name>
        <servlet-class>generatePasswords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>themes</servlet-name>
        <url-pattern>/themes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handler</servlet-name>
        <url-pattern>/handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatePasswords</servlet-name>
        <url-pattern>/admin/generatePasswords.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>subjects</servlet-name>
        <jsp-file>/subjects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>allThemes</servlet-name>
        <jsp-file>/all_themes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/about.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allThemes</servlet-name>
        <url-pattern>/all_themes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjects</servlet-name>
        <url-pattern>/subjects</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
